.home-header-bg{
width: 100%;
background: #FBD062;
clip-path:polygon(0 0,100% 0,100% 100%,70% 87%,0 100%);
}
/* home header */
.top-margin {
    margin-top: 100px;
}
.headerImg{
    z-index: 2;
}
/* home footer */
input.form-control-lg {
    width: 100%;
}
.full-footer {
    background: #FBD062;
}
/* clients feedback */
img.comment-img {
    width: 108px;
    height: 108px;
}
.round-img {
    border-radius: 50%;
    width: 70%;
    margin-left: 13%;
    margin-top: 12%;
}
/* Carousels */
.carousel {
    background: #111430;
}
.container.carousel-margin {
    height: 400px;
}
.mLeft-5 {
    margin-left: 26%;
}
/* brand */
img.brands-img {
    width: 161px;
    height: 51px;
    }